{% extends 'front/layout.twig' %}

{% block stylesheets %}
    {#<link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/dashboard.css">#}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Tableau de bord</h1>
    </div>
{% endblock %}