h2 { margin: 60px 0 30px 0; line-height: 0.5; }
h2::after { content: ''; border-bottom: 1px solid #ced4da; display: inline-block; width: 100%; }
#myTab .nav-item .nav-link.active { color: var(--theme-color); }