.pagination .page-item .page-link { color: var(--theme-color); }
.pagination .page-item .page-link:focus { box-shadow: 0 0 0 .2rem var(--theme-color-alpha); }
.pagination .page-item.active .page-link { background-color: var(--theme-color); border-color: var(--theme-color); color: white; }