{% extends 'front/layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/sign.css">
{% endblock %}

{% block body %}
    <div class="container container-sign">
        <form action="" method="POST" class="form-forgotpassword">
            <h1 class="h3 mb-3 text-center">Mot de passe oublié</h1>

            <label for="email" class="sr-only">Adresse email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Adresse email" aria-describedby="emailHelpBlock" required autofocus pattern="^[a-z0-9_.-]+@[a-z0-9_.-]{2,}\.[a-z]{2,4}$">
            <small id="emailHelpBlock" class="form-text text-muted">Veuillez renseigner votre adresse email dans le champ ci-dessus.</small>

            <button type="submit" class="btn btn-lg btn-theme btn-block mt-3">Réinitialiser mon mot de passe</button>
        </form>
    </div>
{% endblock %}