{% extends 'front/layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/home.css">
{% endblock %}

{% block body %}
    <div class="container">
        <section>
            <img src="{{ _path_ }}/uploads/moi.jpg" alt="Thomas Vergne">
            <h1>Thomas Vergne</h1>
            <blockquote class="blockquote">
                <p>La rigueur vient toujours à bout de l’obstacle.</p>
                <article class="blockquote-footer"><cite>Leonard de Vinci</cite></article>
            </blockquote>
            <p>Si vous souhaitez me contacter, vous pouvez cliquer sur "Contact" ci-dessus pour accéder au <a href="{{ _path_ }}/contact">formulaire de contact</a>.</p>
            <p>Voici mon <a href="{{ _path_ }}/uploads/cv.pdf" target="_blank">CV</a> et vous pouvez me retrouver sur les réseaux avec les liens en bas de page.</p>
        </section>
    </div>
{% endblock %}