{% extends 'front/layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/home.css">
{% endblock %}

{% block body %}
    <div class="container">
        <ul>
            <li>nom et prénom</li>
            <li>photo et/ou logo</li>
            <li>phrase d'accroche</li>
            <li>menu</li>
            <li>
                formulaire de contact, envoie d'un mail avec :
                <ul>
                    <li>nom/prénom</li>
                    <li>email de contact</li>
                    <li>message</li>
                </ul>
            </li>
            <li>lien vers le CV en pdf</li>
            <li>liens réseaux sociaux</li>
        </ul>
    </div>
{% endblock %}