{% extends 'front/layout.twig' %}

{% block body %}
    <div class="container">
        <h1>Les derniers articles</h1>

        {% for post in last_posts %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.description }}</h6>
                    <p class="card-text">{{ post.content }}</p>
                    <a href="{{ post.link }}" class="card-link">Voir cet article</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}