{% extends 'front/layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/sign.css">
{% endblock %}

{% block body %}
    <div class="container container-sign">
        <form action="" method="POST" class="form-resetpassword">
            <h1 class="h3 mb-3 text-center">Réinitialisation du mot de passe</h1>

            <label for="new_password" class="sr-only">Mot de passe</label>
            <input type="password" class="form-control" name="new_password" id="new_password" placeholder="Mot de passe" aria-describedby="passwordHelpBlock" required minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_-]+$">
            <small id="passwordHelpBlock" class="form-text text-muted">Votre mot de passe et votre confirmation de mot de passe doivent contenir entre 8 et 20 caractères. Ils peuvent être avec des lettres, minuscules ou majuscules et/ou des chiffres et/ou un tiret bas et/ou un tiret.</small>

            <label for="new_password_confirm" class="sr-only">Confirmer le mot de passe</label>
            <input type="password" class="form-control" name="new_password_confirm" id="new_password_confirm" placeholder="Confirmer le mot de passe" aria-describedby="passwordHelpBlock" required minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_-]+$">

            <button type="submit" class="btn btn-lg btn-theme btn-block mt-3">Réinitialiser mon mot de passe</button>
        </form>
    </div>
{% endblock %}