{% extends 'front/layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ _path_ }}/public/css/sign.css">
{% endblock %}

{% block body %}
    <div class="container container-sign">
        <form action="{{ _path_ }}/admin/signup" method="POST" class="form-signup">
            <h1 class="h3 mb-3 text-center">Inscription</h1>

            <label for="lastname" class="sr-only">Nom</label>
            <input type="text" class="form-control" name="email" id="lastname" placeholder="Nom" aria-describedby="lastnameHelpBlock" required autofocus pattern="^[a-zA-Z\s-]+$">
            <small id="lastnameHelpBlock" class="form-text text-muted">Votre nom peut être uniquement avec des lettres, minuscules ou majuscules et/ou un espace et/ou un tiret.</small>

            <label for="firstname" class="sr-only">Prénom</label>
            <input type="text" class="form-control" name="email" id="firstname" placeholder="Prénom" aria-describedby="firstnameHelpBlock" required pattern="^[a-zA-Z\s-]+$">
            <small id="firstnameHelpBlock" class="form-text text-muted">Votre prénom peut être uniquement avec des lettres, minuscules ou majuscules et/ou un espace et/ou un tiret.</small>

            <label for="email" class="sr-only">Adresse email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Adresse email" aria-describedby="emailHelpBlock" required pattern="^[a-z0-9_.-]+@[a-z0-9_.-]{2,}\.[a-z]{2,4}$">
            <small id="emailHelpBlock" class="form-text text-muted">Votre adresse email doit être de la forme : email@exemple.com.</small>

            <label for="password" class="sr-only">Mot de passe</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe" aria-describedby="passwordHelpBlock" required minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_-]*$">
            <small id="passwordHelpBlock" class="form-text text-muted">Votre mot de passe et votre confirmation de mot de passe doivent contenir entre 8 et 20 caractères. Ils peuvent être avec des lettres, minuscules ou majuscules et/ou des chiffres et/ou un tiret bas et/ou un tiret.</small>

            <label for="password_confirm" class="sr-only">Confirmer le mot de passe</label>
            <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Confirmer le mot de passe" aria-describedby="passwordHelpBlock" required minlength="8" maxlength="20" pattern="^[a-zA-Z0-9_-]*$">

            <button type="submit" class="btn btn-lg btn-theme btn-block mt-3">S'inscrire</button>
        </form>
    </div>
{% endblock %}